@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
p{
  text-align: center;
}
.about-us {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 90px 0;
  /* background: #fff; */
  background: url(wanderer-high-resolution-logo.png);
  background-position: center;
  background-size: cover;
}

.pic {
  height: auto;
  width: 300px;
  border-radius: 50px;
}

.about {
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 12px;
  padding: 10px;
 
}

.text {
  margin-left: 100px;
    text-align: center;
  width: 600px;
  border: 2px solid grey;
  border-radius: 10px;
}

.text h2 {
  color: #333;
  font-size: 90px;
  font-weight: 600;
  margin-bottom: 10px;
}

.text h5 {
  color: #333;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

span {
  color: #4070f4;
}

.text p {
  color: #333;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1px;
}

.data {
  margin-top: 30px;
}

.linkedin {
  font-size: 18px;
  background: #4070f4;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 12px 25px;
  border-radius: 10px;
  width: 50%;
  transition: 0.9s;
}

.linkedin:hover {
  background: #000;
}
.photo{
  display:grid;
  line-height: 30px;
}